VITE_QUESTIONS_HOST_URL = http://127.0.0.1:5004/v1.0
VITE_QUEUES_HOST_URL = http://127.0.0.1:5003/v1.0
VITE_USERS_HOST_URL = http://127.0.0.1:5001/v1.0
VITE_AUTH_HOST_URL = http://127.0.0.1:5100/v1.0
